@import '/src/Styles/vars.scss';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,li {
   padding: 0;
   margin: 0; 
   list-style: none;
}

p {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: $background-headers;
}

.app {
    display: flex;
    max-width: 1445px;
    max-height: 7px;
    margin: 0 auto;
}

.tech-block {
    height: 748px;
    flex: 1;
}
